source ../../../../dist
  nuget Axle.Core
	nuget Axle.Resources

source ../../../../dist/third-parties
  nuget Kajabity.Tools.Java content: none

source https://nuget.org/api/v2
  nuget NetStandard.Library

group build
	source ../../../../submodules/mason/dist
	  nuget Mason.Targets.Packager
	  nuget Mason.Targets.Preprocessor
	  nuget Mason.Targets.Verman
