source ../../../../dist
  nuget Axle.Core
	nuget Axle.Resources

source https://nuget.org/api/v2
  nuget Kajabity.Tools

group build
	source ../../../../submodules/mason/dist
	  nuget Mason.Targets.Packager
	  nuget Mason.Targets.Preprocessor
	  nuget Mason.Targets.Verman
