source ../../../../dist
  nuget Axle.Core
  nuget Axle.Resources

source ../../../../dist/third-parties
  nuget Kajabity.Tools.Java content: none

source https://nuget.org/api/v2
  nuget NetStandard.Library framework: netstandard1.0, netstandard1.1
  nuget System.Diagnostics.TraceSource framework: netstandard1.6
  nuget System.Resources.ResourceManager framework: netstandard1.3, netstandard1.4, netstandard1.5, netstandard1.6
  nuget System.Threading.Thread framework: netstandard1.6
  nuget System.Xml.XmlSerializer framework: netstandard1.6

group build
  source ../../../../submodules/mason/dist
  nuget Mason.Targets.Packager
  nuget Mason.Targets.Preprocessor
  nuget Mason.Targets.Verman
