framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
  nuget WebSharper.UI
  nuget WebSharper
  nuget WebSharper.FSharp
  nuget FSharp.Core

source ../../../../../forest/dist
  nuget Forest.Core >= 2.0
  nuget Forest.Web.WebSharper >= 2.0

source ../../../../dist/
  nuget Axle.Core
  nuget Axle.Application
  nuget Axle.Forest
  nuget Axle.Web.AspNetCore
  nuget Axle.Web.WebSharper

