framework: auto-detect
storage: none

group netstandard1_6
  framework: netstandard1.6
  storage: none

  source https://api.nuget.org/v3/index.json
    nuget System.Diagnostics.TraceSource >= 4.0
    nuget System.Threading.Thread >= 4.0
    nuget System.Xml.XmlSerializer >= 4.0.10

group net35
  framework: net35
  storage: none

  source https://api.nuget.org/v3/index.json
    nuget System.Threading.Tasks.Unofficial

group net20
  framework: net20
  storage: none

  source https://api.nuget.org/v3/index.json
    nuget LinqBridge
