framework: net35, net40, net45, net46, netstandard1.0, netstandard1.3, netstandard1.5, netstandard1.6, netstandard2.0
storage: none

source ../../../../dist/third-parties
  nuget System.Threading.Tasks.Unofficial >= 3.1 framework: net35
  
source https://api.nuget.org/v3/index.json
  nuget System.Diagnostics.TraceSource >= 4.0 framework: netstandard1.6
  nuget System.Threading.Thread >= 4.0 framework: netstandard1.6
  nuget System.Xml.XmlSerializer >= 4.0.10 framework: netstandard1.6
