framework auto-detect
storage none

source ../../../../dist
  nuget Axle.Application

source https://nuget.org/api/v2

  nuget Microsoft.Extensions.Caching.Memory
  nuget Microsoft.AspNetCore.Session

  nuget Microsoft.AspNetCore


group build
  source ../../../../submodules/mason/dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman