[submodule "submodules/mason"]
	path = submodules/mason
	url = https://github.com/ivaylo5ev/mason
[submodule "submodules/btw"]
	path = submodules/btw
	url = https://github.com/vdimensions/btw
[submodule "submodules/msbuild-dotnet-multitargeting"]
	path = submodules/msbuild-dotnet-multitargeting
	url = https://github.com/vdimensions/msbuild-dotnet-multitargeting.git
[submodule "submodules/vdimensions_msbuild_sdk"]
	path = submodules/vdimensions_msbuild_sdk
	url = https://github.com/vdimensions/vdimensions_msbuild_sdk.git
[submodule "submodules/vdimensions_fake_sdk"]
	path = submodules/vdimensions_fake_sdk
	url = https://github.com/vdimensions/vdimensions_fake_sdk.git
