# anything

[~-]*

# dirs

**/.archetype-template/
**/.idea/
**/.nuget/
**/.paket/
!codebase/.paket
**/.project-template/
**/.svn/
**/.vs/
**/.vscode/
**/_[Rr]e[Ss]harper*/
**/_[Uu]pgrade[Rr]eport*/
**/bin/
**/obj/
**/out/
**/dist/restore/
**/paket-files/
**/packages/
**/target/

# docfx compiled documentation directory
_site/

# files

**/buildlog.txt
*.[Dd]ot[Ss]ettings
*.[Dd]ot[Ss]ettings.user
**/.DS_Store
*.desktop
*.iml
*.lnk
*.*proj.user
*.nupkg
*.[Oo]pen[Cc]over.[Ss]ettings
*.opensdf
*.[Rr]e[Ss]harper*
*.[Ss]tyle[Cc]op*
*.snk
*.sdf
*.swp
*.testsettings
*.tmp
*.userprefs
*.vbproj.user
*.vsmdi
*~$*.dot
browse.VC.db
desktop.ini
[Ss]tyle[Cc]op.*
[Tt]humbs.db
[Uu]pgrade[Ll]og.[Xx][Mm][Ll]
