framework: net45
storage: none

source ../../../../dist
  nuget Axle.Core
  nuget Axle.Application

source https://api.nuget.org/v3/index.json
  nuget NETStandard.Library

group test
  source https://api.nuget.org/v3/index.json
    nuget NUnit >= 3.6.1 framework: net45
