framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
source ../../../../dist
  nuget Axle.Core

group test
  source https://api.nuget.org/v3/index.json
    nuget NUnit
    nuget NUnit3TestAdapter