framework auto-detect
storage none

source https://nuget.org/api/v2
  nuget FSharp.Core

source ../../../../../forest/dist
  nuget Forest.Core

source ../../../../dist
  nuget Axle.Application
  nuget Axle.Forest
  nuget Axle.Web.AspNetCore

group build
  source ../../../../submodules/mason/dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman
