source ../../../../dist
  nuget Axle.Core
  nuget Axle.Resources

source https://nuget.org/api/v2
  nuget NetStandard.Library framework: netstandard1.0, netstandard1.1
  nuget System.Resources.ResourceManager framework: netstandard1.3, netstandard1.4, netstandard1.5, netstandard1.6
  nuget System.Xml.XmlDocument framework: netstandard1.6
	nuget System.Xml.XmlSerializer framework: netstandard1.6


group build
  source ../../../../submodules/mason/dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman
