framework: auto-detect
storage: none

source ../../../../dist
source https://api.nuget.org/v3/index.json
    
nuget Axle.Configuration
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget NUnit
nuget NUnit3TestAdapter