framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
source ../../../../dist/

nuget WebSharper.UI < 4.5.9
nuget WebSharper.AspNetCore
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Axle.Web.AspNetCore
