framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
  nuget WebSharper.UI
  nuget WebSharper.AspNetCore
  nuget Microsoft.AspNetCore.Authentication.Cookies

source ../../../../dist/
  nuget Axle.Web.AspNetCore
