framework: auto-detect
storage: none

source https://nuget.org/api/v2
  nuget WebSharper.UI
  nuget WebSharper.AspNetCore
  nuget Microsoft.AspNetCore.Authentication.Cookies

source ../../../../dist/
  nuget Axle.Web.AspNetCore
