source https://www.nuget.org/api/v2
  nuget System.Runtime.Loader

group Legacy 
  source https://www.nuget.org/api/v2
    nuget Microsoft.Extensions.DependencyModel <= 1.0

group Build
	source ../../../submodules/mason/dist
	  nuget Mason.Targets.Packager
	  nuget Mason.Targets.Preprocessor
	  nuget Mason.Targets.Verman
