<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <AssemblyName>${id}</AssemblyName>
    <PackageId>${id}</PackageId>
    <Authors>${company}</Authors>
    <PackageLicenseUrl>${license.url}</PackageLicenseUrl>
    <PackageTags>${tags}</PackageTags>
  </PropertyGroup>
</Project>