source ../../../../dist
  nuget Axle.Core
  nuget Axle.Logging

source https://nuget.org/api/v2
  nuget log4net

group build
	source ../../../../submodules/mason/dist
	  nuget Mason.Targets.Packager
	  nuget Mason.Targets.Preprocessor
	  nuget Mason.Targets.Verman
