source ../../../../dist
  nuget Axle.Core
  nuget Axle.Resources
  nuget Axle.Resources.Java

source ../../../../dist/third-parties
  nuget Kajabity.Tools.Java content: none

source https://nuget.org/api/v2
  nuget System.Resources.ResourceManager
  nuget NETStandard.Library

group test
  source https://nuget.org/api/v2
    nuget NUnit >= 3.6.1 framework: net45
