source ../../../../dist
  nuget Axle.Resources

source https://nuget.org/api/v2
  nuget YamlDotNet >= 4.3 content: none

group build
  source ../../../../submodules/mason/dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman