framework: auto-detect
storage: none

source ../../../../dist
  nuget Axle.Core
  nuget Axle.Resources
  nuget Axle.Resources.Yaml

source https://nuget.org/api/v2
  nuget System.Resources.ResourceManager
  nuget NETStandard.Library
  nuget YamlDotNet content: none

group test
  source https://nuget.org/api/v2
    nuget NUnit >= 3.6.1 framework: net45
