framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
  nuget YamlDotNet content: none

source ../../../../dist
  nuget Axle.Resources.Yaml

group test
  source https://api.nuget.org/v3/index.json
    nuget NUnit
    nuget NUnit3TestAdapter
