framework: auto-detect
storage: none

source ../../../../dist
source https://api.nuget.org/v3/index.json

nuget YamlDotNet content: none

nuget Axle.Resources.Yaml

nuget NUnit
nuget NUnit3TestAdapter
